/* 챗 아이콘 스타일 */
#chat-container {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 1000;
    
}

#chat-icon {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    background-color: rgba(170, 214, 174, 0.6);
    background-image: url('../image/chatbot_image.png');
    background-size:contain;
}

/* 챗 옵션 메뉴 (숨겨진 상태에서 마우스 오버시 나타남) */
#chat-options {
    position: absolute;
    left: 50%; 
    bottom: 80px;
    width: 150px;
    transform: translateX(-15%);
    background-color: rgba(0,0,0 0.5);
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
    z-index: 1100;
}

#chat-options ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#chat-options li {
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
}

#chat-options li:hover{
    font-weight: 700;
}

/* 프롬프트 입력 창 */
#chat-prompt {
    position: absolute;
    left: 50%;
    width: 30%; 
    bottom: 10px;
    transform: translateX(40px);
    background: rgb(170, 189, 190) border-box;
    border: 3px solid transparent;
    background-clip: border-box;
    border-radius: 20px;
    padding: 4px;
    display: none;
    z-index: 1000;
    transition: opacity 0.35s ease-in-out;
}


#chat-prompt input {
    width: 90%;
    padding: 5px;
    border-width: 0px;
    background-color: rgb(170, 189, 190);
}

#chat-prompt button {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 100%;
    border-radius: 50%;
    transform: translateX(-30px);
    background: url('../image/submit_icon.png') no-repeat center;
    background-size: cover;
    border: none;
    padding: 0;
    cursor: pointer;
}
    
/* 언어모델 응답 오버레이 */
#chat-response-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    overflow: hidden;
    z-index: 2000;
}

#chat-response {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: calc(70%);
    max-height: 80%;
    background-color: white;
    padding: 20px;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
