/* 전체 페이지 스타일 */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
    position: relative;
}

/* 건물 배경 이미지 */
#building-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('image/engineering_hall.png'); /* 건물 사진 경로 */
    background-size: cover;
    background-position: center;
    z-index: 1;
}

/* 건물 이름 스타일 */
#building-name {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 2.5rem;
    color: black;
    text-shadow: 6px 6px 3px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

/* 오버레이 섹션 */
#info-overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30%;
    height: 100%;
    background: linear-gradient(to right, rgb(211, 212, 210), rgb(0, 0, 0));
    opacity: 0.9;
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    z-index: 2;
}

/* 층 아이콘 나열 섹션 */
#floor-icons {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.floor-icon {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /*  */
}

.floor-icon:hover {
    background-color: #ddd;
}

/* 메뉴 옵션 섹션 */
#menu-options {
    display: flex;
    flex-direction: column;
}

.menu-item {
    margin-bottom: 15px;
    margin-right: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.menu-item:hover {
    color: #007BFF;
}

#explanation{
    width: 50%;
    
}
